.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: whitesmoke;
  box-shadow: 5px 10px 18px #888888;
  position: sticky;
  top: 0;
  z-index: 100;

  .logo-container {
    height: 70px;
    width: 70px;
    margin-left: 20px;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 25% auto 25% auto;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;

    .option {
      padding: 10px 15px;
      text-decoration: none;
      color: #000;
      cursor: pointer;
    }
  }
}

@media (max-width: 800px) {
  .logo-container {
    width: 50px;
    padding: 0;
  }
  .options {
    width: 100% !important;
    margin-right: 0 !important;
  }
}
